.logo{
    display: inline-block;
    height: 140px;
}

.logo img{
    height: 100%;
}

.menu-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 140px;
    width: 100%;
    
}
.nav-container button{
    margin: 0px 10px;
    border: none;
    background-color: #fff;
    color: #373E44;
    font-size: 14px;
    padding: 10px 5px;
    transition: background 0.5s;
    transition: color 0.5s;
}
.nav-container button:hover{
    background: #373E44;
    color: #fff;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    max-width: 800px;                  /* se quiser mudar de novo 680px max e 675 min */
    min-width: 790px;
}

.contact-container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #B1945E;
}
.contact-container b{
    margin: 0px 5px;
}

.contact-container .instagram-color{
    color:#373E44;
}
.contact-container .instagram-color b{
    font-size: 28px;
}

.button-client{
    display: flex;
    align-items: center;
}

.button-client button{
    border-style: outset;
    border-radius: 5px;
    border-width: 1px;
    padding: 15px;
    color:#B1945E;
    background-color: #fff;
    transition: background 0.5s;
    transition: color 0.5s;
}
.button-client button:hover{
    background: #B1945E;
    color: #fff;
}

.imageBg-container {
    background-image: url('../../Assets/imageBg.jpg');
    background-position: center;
    background-size: cover ;
    width: 100%;
    height: 600px;
}

.imageBg-container h1{
    position: absolute;
    color: #fff;
    width: 840px;
    font-size: 46px;
    top: 400px;
    left: 150px;
    
}

.squares-container{
    margin-top: 80px;
    color: #B1945E;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ML-energy ,.selfProductor{
    border: 1px solid #B1945E;
    width: 600px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.learn-more{
    border: 2px solid #B1945E;
    border-radius: 25px;
    padding: 10px 40px;
    background-color: #B1945E;
    color:#fff;
}
.learn-more:hover{
    color: #B1945E;
    background-color: #fff;
}
.info-container{
    margin: 110px;
}

.info-container p{
    color: #B1945E;
    font-size: 50px;
    text-align: center;
}

.info-tab{
    margin-top: 40px;
    border-top: 1px solid #373E44;
}
.info-text{
    width: 800px;
    margin-left: 10px;
}
.map-container{
    background-color: #B1945E;
    width: 100%;
    height: 500px;
}