@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}
:root{
    height: 100%;
    font-size: 15px;
    color:black;
}
body{
    font: 400px 14px Roboto Condense, sans-serif;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

input,button,textarea{
    font:400px 18px Roboto, sans-serif;
}


a:link{
    text-decoration: none;
}

@media (max-width : 1023px){
    html,:root{
        font-size: 8px;
        width: 100%;;
    }
    .midia-bar{
        visibility: hidden;
    }
    .hamburger{
        visibility: visible;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}