@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}
:root{
    height: 100%;
    font-size: 15px;
    color:black;
}
body{
    height:100%;;
    font: 400px 14px;
    font-family: Encode Sans;
    background: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar{
    width: 6px;
    background-color:#F4F4F4;
}
html::-webkit-scrollbar-track{
    background-color: #dad7d7;
}
html::-webkit-scrollbar-thumb{
    background-color: #0067CC;
    border-radius:none;
}

input,button,textarea{
    font:400px 18px;
    font-family: Encode Sans;
}


a:link{
    text-decoration: none;
}

@media (max-width : 1023px){
    html,:root{
        font-size: 8px;
        width: 100%;;
    }
    .midia-bar{
        visibility: hidden;
    }
    .hamburger{
        visibility: visible;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}